appdirs==1.4.4
asgiref==3.7.2
asyncio==3.4.3
beautifulsoup4==4.12.2
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.4
django-storages==1.13.2
google==3.0.0
google-api-core==2.11.1
google-auth==2.22.0
google-cloud-core==2.3.3
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.60.0
greenlet==2.0.2
idna==3.4
importlib-metadata==6.8.0
Pillow==10.0.0
playwright==1.36.0
protobuf==4.24.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
requests==2.31.0
rsa==4.9
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
tqdm==4.66.1
typing_extensions==4.7.1
urllib3==1.26.16
websockets==8.1
zipp==3.16.2
